{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "base-new.html" %}

{% add_lang_files "mozorg/home/index" %}

{% block gtm_page_id %}data-gtm-page-id="Homepage"{% endblock %}

{% block page_image %}{{ static('img/home/page-image.png') }}{% endblock %}

{% block page_title %}
  {{_('We’re building a better Internet')}}
{% endblock %}

{% block page_desc %}
  {{_('Did you know? Mozilla — the maker of Firefox — fights to keep the Internet a global public resource open and accessible to all.')}}
{% endblock %}

{% block body_id %}home{% endblock %}
{% block body_class %}lang-{{ LANG }}{% endblock %}

{% block extra_meta %}
<!-- validates bing webmaster tools -->
<meta name="msvalidate.01" content="B7B177115A634927D608514DA17B2574">
<!-- YouTube Verification -->
<meta name="google-site-verification" content="U9a6gH32vLIykvntaDToj-ytYhlZ1AfAgVEKstixQIE">
{% endblock %}

{% block extrahead %}
  {% stylesheet 'home-a' %}
{% endblock %}

{% block optimizely %}
  {% if waffle.switch('mozorg-home-optimizely') %}
    {% include 'includes/optimizely.html' %}
  {% endif %}
{% endblock %}

{% block site_header %}{% endblock %}

{% block content %}
<header class="section" id="masthead">
  <div class="content">
    <div id="tabzilla">
      <a href="{{ url('mozorg.home') }}">Mozilla</a>
    </div>

    <h1 class="head-logo">{{ high_res_img('home/voices/mozilla-wordmark-white.png', {'alt': 'Mozilla', 'width': '313', 'height': '82'}) }}</h1>

    <nav class="head-nav-main">
      <ul>
        <li><a href="#">In Action</a></li>
        <li><a href="#">Our Tech</a></li>
        <li><a href="#">Firefox</a></li>
      </ul>
    </nav>

    <aside class="head-nav-extra">
      <p><a href="#">donate</a></p>
      <p><a href="#">download Firefox</a></p>
    </aside>
  </div>
</header>

<main role="main">
  <section class="section section-hero" id="hero">
    <div class="content">
      <h1>
        We are a non-profit with one mission:
        <br>defend the freedom of the internet
      </h1>
    </div>
  </section>

  <section class="section section-action" id="action">
    <div class="content">

      <ul class="col-samp">
        <li>col</li>
        <li>col</li>
        <li>col</li>
        <li>col</li>
        <li>col</li>
        <li>col</li>
        <li>col</li>
        <li>col</li>
        <li>col</li>
        <li>col</li>
        <li>col</li>
        <li>col</li>
      </ul>

      <div class="section-intro">
        <h2>Building a global movement</h2>
        <p>
          We are an active, global community of educators, builders, advocates
          and experts working to keep to the internet a shared global resource,
          open and accessible to all.
        </p>
      </div>

      <div class="section-body">
        <h3>Why we fight for Encryption</h3>
        <p>
          The protection of our personal information is an essential part of
          life. As we work to protect this necessary tool, we encourage everyone
          to stand up for encryption.
        </p>
      </div>

    </div>
  </section>

  <section class="section section-tech" id="tech">
    <div class="content">

      <div class="section-intro">
        <h2>The power of the web</h2>
        <p>
          At Mozilla, we are constantly creating new technologies that assist
          developers, support openness and challenge what is possible on the
          internet.
        </p>
      </div>

      <div class="section-body">
        <h3>Introducing A-Frame</h3>
        <p>
          Check out this ground-breaking, open-source framework for easily
          creating web-based virtual reality experiences.
        </p>
      </div>

    </div>
  </section>

  <section class="section section-firefox" id="firefox">
    <div class="content">

      <div class="section-intro">
        <h2>Browse freely</h2>
        <p>
          With Firefox for desktop, iOS and Android, it’s never been easier
          to have a fast, reliable web experience everywhere you go. And with
          a Firefox Account, you can sync your browser everywhere you use it.
        </p>
      </div>

    </div>
  </section>

  <section class="section section-utilities" id="utilities">
    <div class="content">

      <ul>
        <li>
          <a class="add-ons" rel="external" href="https://addons.mozilla.org/">
            <h2>{{ _('Add-ons') }}</h2>
            <p>{{ _('Compare prices, check the weather, listen to music, send a tweet and more right from Firefox.') }}</p>
          </a>
        </li>
        <li>
          <a class="careers" rel="external" href="https://careers.mozilla.org/">
            <h2>{{ _('Careers') }}</h2>
            <p>{{ _('Learn about the benefits of working at Mozilla and view open positions around the world.') }}</p>
          </a>
        </li>
        <li>
          <a class="help" rel="external" href="https://support.mozilla.org/">
            <h2>{{ _('Need help?') }}</h2>
            <p>{{ _('Get answers to your questions about Firefox and all Mozilla products from our support team.') }}</p>
          </a>
        </li>
      </ul>

    </div>
  </section>
</main>

<aside class="section" id="newsletter-subscribe">
  <div class="content">
  {% if LANG.startswith('en-') %}
    {{ email_newsletter_form(newsletters='mozilla-foundation', title=_('Love the Web?'), subtitle=_('Get the Mozilla newsletter and help us keep it open and free.'), button_class='light') }}
  {% else %}
    {{ email_newsletter_form(button_class='light') }}
  {% endif %}
  </div>
</aside>

<footer class="section">
  <div class="content">
    footer
  </div>
</footer>
{% endblock %}
